.navigation-collapse {
  cursor: pointer;

  &__header {
    font-size: 2rem;
    color: $c-grey-dark;
    @include flex-pos(center, flex-start);
  }

  &__title {
    font-family: 'founders-grotesk-medium';
    font-size: 2rem;

    @include media-breakpoint-up(lg) {
      color: $c-white;
    }
  }

  &__block {
    @include media-breakpoint-up(lg) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      height: 100%;

      &--50 {
        width: 50%;
      }

      &--25 {
        width: 25%;
      }

      &:not(:last-of-type) {
        border-right: 0.1rem solid $c-grey-medium;
      }
    }
  }

  &__content {
    padding-top: 1.8rem;

    @include media-breakpoint-up(lg) {
      background-color: $c-grey-light;
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;
      width: 68vw;
      padding-top: 8.2rem;
      padding-bottom: 6.4rem;
      @include flex-pos(flex-start, flex-start);
    }

    // RTE
    h3 {
      font-family: 'founders-grotesk-medium';
      font-size: 1.6rem;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(lg) {
        font-size: 2.6rem;
        margin-bottom: 2rem;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 1.2;
      font-family: 'founders-grotesk-regular';

      @include media-breakpoint-up(lg) {
        max-width: 82%;
      }
    }
  }

  &__link {
    @include flex-pos(center, flex-start);
    margin-top: 1.2rem;

    @include media-breakpoint-up(lg) {
      margin-top: 1.4rem;
    }

    span {
      font-size: 1.4rem;
      font-family: 'founders-grotesk-medium';
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: $c-grey-dark;
    }
  }

  &__arrow {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    position: absolute;
    left: 1.5rem;

    .active & {
      display: block;
    }

    path {
      fill: $c-purple;
    }

    @include media-breakpoint-up(lg) {
      left: 4rem;

      path {
        fill: $c-white;
      }
    }
  }

  &__open-icon {
    width: 0.82rem;
    height: 0.92rem;
  }

  &__icon {
    width: 2.9rem;
    height: 3rem;
    margin-right: 1rem;
  }

  &__capabilities {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      h4 {
        font-family: 'founders-grotesk-medium';
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 1.4rem;
      }

      span {
        @include text--x-small;
      }
    }
  }

  &__article {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    a {
      text-decoration: none;
      color: $c-grey-dark;
    }

    // RTE
    h4 {
      // Add more heading / p styles if user can select style in the CMS
      font-size: 1.1rem;
      font-family: 'founders-grotesk-medium';
      line-height: 1.5rem;
    }

    img {
      @include object-fit;
      width: 100%;
      height: auto;
      aspect-ratio: 1.76;
      margin-bottom: 1rem;
    }
  }
}
