.navigation {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  height: 10.2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  @include flex-pos(center, flex-start);
  background-color: $c-white;

  @include media-breakpoint-up(xl) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__wrapper {
    @include flex-pos(center, space-between);
    height: 100%;
    width: 100%;

    @include media-breakpoint-up(xl) {
      justify-content: center;
    }
  }

  &__menu {
    background-color: $c-teal;
    position: fixed;
    top: 10.2rem;
    left: 0;
    width: 100%;
    @include flex-pos(flex-start, space-between);
    flex-direction: column;
    min-height: calc(100vh - 10.2rem);
    display: none;
    overflow-y: auto;

    @include media-breakpoint-up(md) {
      width: 60vw;
      right: 0;
      left: unset;
    }

    @include media-breakpoint-up(xl) {
      display: flex;
      background-color: $c-white;
      min-height: unset;
      height: 100%;
      position: unset;
      flex-direction: row;
      width: unset;
    }

    &.open {
      display: flex;
    }
  }

  &__logo-wrapper {
    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4rem;
      display: block;
    }
  }

  &__logo {
    width: 14.6rem;
    height: 3.45rem;
  }

  &__toggles {
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__toggle {
    @include reset-button;
  }

  &__hamburger {
    width: 2.4rem;
    height: 1.8rem;

    .open & {
      display: none;
    }
  }

  &__close {
    width: 1.8rem;
    height: 1.8rem;
    display: none;

    .open & {
      display: block;
    }
  }

  &__primary,
  &__secondary {
    width: 100%;

    @include media-breakpoint-up(xl) {
      width: auto;
    }
  }

  &__primary {
    position: relative;

    @include media-breakpoint-up(xl) {
      @include flex-pos(center, center);
      gap: 4rem;
      position: unset;
      height: 100%;
    }
  }

  &__secondary {
    display: none;
    background-color: $c-grey-light;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    overflow-y: auto;

    @include media-breakpoint-up(xl) {
      width: 100%;
      position: absolute;
      // min-height: calc(100vh - 10.2rem);
      min-height: 50.8rem;
      left: 0;
      top: 10.2rem;
      padding: 8.2rem 6.6rem 6.4rem;
      background-color: $c-teal;
    }

    &.is-active {
      display: block;
    }
  }

  &__item {
    width: 100%;

    @include media-breakpoint-up(xl) {
      width: fit-content;
      height: 100%;
    }

    > button {
      @include reset-button;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__secondary-item {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid $c-grey-medium;

    &:last-of-type {
      border-bottom: none;
    }

    @include media-breakpoint-up(xl) {
      border-bottom: none;
      padding: 0;
      margin-bottom: 3.4rem;
    }
  }

  &__link {
    background-color: $c-teal;
    color: $c-white;
    letter-spacing: 0.04rem;
    font-size: 2.4rem;
    padding: 1.8rem 1.5rem;
    height: 100%;
    width: 100%;
    display: block;
    border-bottom: 0.1rem solid $c-teal-light;

    @include media-breakpoint-up(xl) {
      background-color: transparent;
      color: $c-grey-dark;
      border-bottom: none;
      padding: 0;
      font-size: 1.8rem;
      @include flex-pos(center, flex-start);
      transition: color 0.3s ease;

      &:hover {
        color: $c-purple;
      }
    }

    &.is-active {
      background-color: $c-grey-light;
      border: none;
      color: $c-black;

      @include media-breakpoint-up(xl) {
        background-color: unset;
      }
    }
  }

  &__chevron {
    width: 1.2rem;
    height: 0.7rem;
    margin-left: 1rem;
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
    }

    .is-active & {
      transform: scaleY(-1);

      path {
        stroke: $c-purple;
      }
    }
  }

  &__link,
  &__secondary-link {
    text-decoration: none;
    font-family: 'founders-grotesk-medium';
  }

  &__button {
    margin-top: auto;
    margin-left: 1.8rem;
    margin-bottom: 1.8rem;

    @include media-breakpoint-up(xl) {
      margin: 0;
      position: absolute;
      right: 4rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
