.navigation {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  height: 10.2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  @include flex-pos(center, flex-start);

  &__wrapper {
    @include flex-pos(center, space-between);
    height: 100%;
    width: 100%;
  }

  &__menu {
    background-color: $c-teal;
    position: fixed;
    top: 10.2rem;
    left: 0;
    width: 100%;
    @include flex-pos(flex-start, space-between);
    flex-direction: column;
    min-height: calc(100vh - 10.2rem);
    display: none;
    height: 100%;
    overflow-y: auto;

    @include media-breakpoint-up(lg) {
      display: flex;
      background-color: $c-white;
      min-height: unset;
      position: unset;
      flex-direction: row;
    }

    &.open {
      display: flex;
    }
  }

  &__logo {
    width: 14.6rem;
    height: 3.45rem;
  }

  &__toggles {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__toggle {
    @include reset-button;
  }

  &__hamburger {
    width: 2.4rem;
    height: 1.8rem;

    .open & {
      display: none;
    }
  }

  &__close {
    width: 1.8rem;
    height: 1.8rem;
    display: none;

    .open & {
      display: block;
    }
  }

  &__primary,
  &__secondary {
    width: 100%;
  }

  &__primary {
    position: relative;

    @include media-breakpoint-up(lg) {
      @include flex-pos(center, center);
    }
  }

  &__secondary {
    display: none;
    background-color: $c-grey-light;
    padding-right: 1.8rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    overflow-y: auto;

    &.is-active {
      display: block;
    }
  }

  &__item {
    width: 100%;

    > button {
      @include reset-button;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__secondary-item {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid $c-grey-medium;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__link {
    background-color: $c-teal;
    color: $c-white;
    letter-spacing: 0.04rem;
    font-size: 2.4rem;
    padding: 1.8rem 1.5rem;
    height: 100%;
    width: 100%;
    display: block;
    border-bottom: 0.1rem solid $c-teal-light;

    &.is-active {
      background-color: $c-grey-light;
      border: none;
      color: $c-black;
    }
  }

  &__link,
  &__secondary-link {
    text-decoration: none;
    font-family: 'founders-grotesk-medium';
  }

  &__button {
    margin-top: auto;
    margin-left: 1.8rem;
    margin-bottom: 1.8rem;
  }
}
