// TODO: Update fonts for Header

@mixin h1 {
  font-family: 'founders-grotesk-medium';
}

@mixin h2 {
  font-family: 'founders-grotesk-medium';
}

@mixin h3 {
  font-family: 'founders-grotesk-medium';
}

@mixin h4 {
  font-size: 1.2rem;
  line-height: 1;
  font-family: 'founders-grotesk-medium';
}

@mixin text--body {
  font-family: 'founders-grotesk-regular';
  font-size: 1.4rem;
}

@mixin text--small {
  font-family: 'founders-grotesk-regular';
  font-size: 1.4rem;
}

@mixin text--x-small {
  font-family: 'founders-grotesk-regular';
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

p {
  @include text--body;
}
